.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Row {
  width: 100%;
  min-width: 200px;
  margin-top: 10px;
}

.TimePicker {
  margin-top: 20px;
  width: 97%;
}
