.Table {
  width: 100%;
  margin: 10px;
}

.FixedColumns {
  position: sticky;
  left: 0;
  background: white;
}

.EditScheduleTableCell {
  font-size: 10px;
  width: max-content;
}

.Schedule {
  width: 100vw;
  margin-left: 250px;
}

.LocationSchedule,
.TabList {
  width: calc(100vw - 270px);
}

.Tab {
  padding: 10px !important;
}

.Tab:hover {
  color: #495057;
  border: 1px solid;
  border-color: #dee2e6 #dee2e6 #fff;
}

.SelectedTab {
  color: #495057 !important;
  background-color: #fff !important;
  border: 1px solid !important;
  border-color: #dee2e6 #dee2e6 #fff !important;
  border-bottom: none !important;
  text-decoration: none !important;
}

.TabPanel {
  padding: 0 !important;
}

.DoneButton {
  color: green;
}

.RevertButton {
  color: red;
}

.Svg {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-style: italic;
}
