.Table {
  width: 100%;
  margin: 10px;
}

.FixedColumns {
  position: sticky;
  left: 0;
  background: white;
  // box-shadow: 5px 2px 5px grey;
}

.EditScheduleTableCell {
  font-size: 10px;
  width: max-content;
}

.Schedule {
  width: 100vw;
  margin-left: 250px;
}

.LocationSchedule {
  width: calc(100vw - 270px);
}
