.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

body {
  padding: 0;
  margin: 0;
}

.Form {
  display: flex;
  height: 100vh;
  margin-left: 250px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Login {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-link {
  width: max-content !important;
}

.Button {
  background-color: #2f4050 !important;
  border: none !important;
  width: max-content !important;
  margin-top: 40px !important;
  text-transform: none !important;
}

.Button:disabled {
  background-color: #8b959e !important;
}

.Button:hover {
  background-color: #293846;
}

.ShowFeedback {
  display: block !important;
  color: #dc3545;
  font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;";
  font-size: 80%;
}

.MuiDialog-paper {
  min-width: 60%;
}
