.Sidebar {
  height: 100vh;
  width: 250px;
  background-color: #2f4050;
  float: left;
  position: fixed;
  z-index: 5;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .Row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  text-decoration: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.ExitButton {
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.SidebarList .Row:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList .SubmenuItem:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
}
.Row #icon {
  padding-left: 20px;
  display: grid;
  place-items: center;
}

.Row #title {
  margin-left: 10px;
  flex: 70%;
}

.ExitTitle {
  margin-left: 10px;
}

.Row {
  padding-right: 20px;
}

.Submenu {
  padding-left: 0%;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  color: white;
}

.SubmenuItem {
  display: flex;
  width: 100%;
  height: 40px;
  list-style-type: none;
  padding-left: 80px;
  margin: 0%;
  color: white;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.ArrowButton {
  color: white;
}
