.Form {
  display: flex;
  height: 100vh;
  margin-left: 250px;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
}

.Row {
  width: 100%;
  margin-top: 20px;
}

table caption {
  caption-side: top;
  text-align: center;
}

.AddButton {
  color: green;
}

.DeleteButton {
  color: red;
}
