.List {
  display: flex;
  height: 100vh;
  margin-left: 250px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DataGrid {
  width: calc(100vw - 290px);
  margin-bottom: 20px;
}

.NoShiftTypes {
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-style: italic;
}
